html, body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

img {max-width: 100%;}

body {
    display: grid;
    font-family: "Segoe UI", sans-serif;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    color: #3e3e3e;
    text-shadow: 0.4px 0.4px 0.4px rgba(0,0,0,.2);
}

h1 {
    font-weight: lighter;
    grid-column: span 3;
    text-align: center;
    color: #ec407a;
}

#wrapper {
    display: grid;
    grid-column: 3 / 11;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 10px;
    margin-bottom: 1.6rem;
}

#clock-box, #info {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#clock-box #clock {
    grid-column: 4 / 10;
    background-color: #F8C8C8;
    padding: .6rem 2rem;
    padding-top: .8rem;
    text-align: center;
    font-size: 2.4rem;
    border-radius: 10rem;
}

date, time {
    display: block;
}

date {
    font-size: 18px;
}

time {
    font-family: "Arial", sans-serif;
    line-height: 1.2rem;
    letter-spacing: 2px;
}

.avt {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    border: solid 2px #a29d9d;
    padding: 3px;
}

#info {
    margin-top: 1.6rem;
}

#heart {
    grid-column: span 2;
    font-size: 44px;
    color: #b90d46;
    align-self: center;
    padding-bottom: 2.6rem;
    text-align: center;
}

anni {
    font-size: 16px;
    letter-spacing: 0.2px;
}

#info .one {
    grid-column: 3 / 6;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#info .two {
    grid-column: 8 / 11;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-weight: 500;
}

#info .one p,
#info .two p {
    padding: 7px 12px;
    background-color: #cacaca9e;
    width: max-content;
    border-radius: 35px;
    margin-block-start: 6px;
    margin-block-end: 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

footer {
    grid-column: span 3;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.2rem;
    opacity: .8;
}

#music {
    z-index: 1000;
    opacity: .8;
    position: fixed;
    top: 20px;
    right: 20px;
}

#mask {
    background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
    opacity: .42;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 992px) {
    #wrapper {
          grid-column: span 12;
    }

    #clock-box #clock {
          grid-column: 2 / 12;
    }

    .avt {
          width: 120px;
          height: 120px;
    }

    #info .one, #info .two{
          grid-column: span 12;;
    }

    #heart {
          grid-column: span 12;
          padding-bottom: 1rem;
    }

    footer {
          font-size: 1.2rem;
          margin: 0;
          padding-bottom: 2rem;
    }
}

.hearts {
    grid-column: 2;
    position: relative;
    z-index: 1000;
    opacity: 1;
    margin: 25px auto 0;
    height: 75px;
    width: 90px;
    animation: animate 1s infinite;
}

.hearts:before, .hearts:after {
    content: '';
    position: absolute;
    background: #d63031;
    width: 45px;
    height: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.hearts:before {
    left: 45px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

.hearts:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(.8);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.counter {
    grid-column: span 3;
    position: relative;
    z-index: 1000;
    opacity: 1;
    margin: 50px auto 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.progress-circle {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 5px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
}

.progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 7px solid #3498db;
    transform: rotate(0deg);
    transform-origin: center center;
    transition: transform 1s linear;
}


/* .hearts {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
    0% {
        transform: scale(0.8) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
    100% {
        transform: scale(0.8) rotate(-45deg);
    }
} */


canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}

#graph span {
    color:#555;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}

input {
    width: 200px;
    background-color: #c50a42;
}

span.male {
    padding: 4px 10px;
    background-color: #c73b3b;
    color: white;
    border-radius: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

span.male > svg, 
span.female > svg {
    fill: white;
    margin-right: 5px;
}

span.female {
    padding: 4px 10px;
    background-color: #3c4bac;
    color: white;
    border-radius: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
